.label {
    -fx-font-family: 'noto sans';
}

.contributor__region {
    -fx-spacing: 10;
    -fx-padding: 5 15;
}

.contributor__section-heading {
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}

.contributor__input-group {
    -fx-spacing: 10;
}

.contributor__name-input {
    -fx-font-size: 1.2em;
    -fx-padding: 5 8;
}

.contributor__add-btn,
.contributor__add-btn .ikonli-font-icon {
    -fx-font-size: 1.3em;
    -fx-text-fill:  #00377C;
    -fx-icon-color:  #00377C;
}

.contributor-list__cell {
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 6px;
    -fx-padding: 5px 10px;
}
.contributor-list__cell .label {
    -fx-font-size: 1.2em;
    -fx-text-fill: #707070;
}

